<h1>New Product</h1>
<%= form_for :product, url: products_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
  
  <h2>Upload Images</h2>
    <body>
        <input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="js/vendor/jquery.ui.widget.js"></script>
        <script src="js/jquery.iframe-transport.js"></script>
        <script src="js/jquery.fileupload.js"></script>
      <script>
        $(function () {
          $('#fileupload').fileupload({
                  dataType: 'json',
                  done: function (e, data) {
                        $.each(data.result.files, function (index, file) {
                        $('<p/>').text(file.name).appendTo(document.body);});
                  }
              });
        });
      </script>
    </body> 
  
  <p>
    <br><%= f.submit %>
  </p>
<% end %>
<%= link_to 'Product List', products_path %><br>
<%= link_to 'Main Page', "/" %>
